*{
    margin-left: 5vh;
    width: 15vh;
    font-size: 20px;
    d
   
/* text-align: center;}
.h1{
    text-align: center
    width: 50vh !important;
    font-size: 40px;

}
.input1{
    margin-left: 170px;
    width: 70px !important;
}
#username{
    color: red;
    font-size: 15px;
    font-weight: bold;
}
#lastname{
    color: red;
    font-size: 15px;
    font-weight: bold;
}
#number{
color: red;
    font-size: 15px;
    font-weight: bold;
}
.inpu1{
    color: red;
    font-size: 15px;
    font-weight: bold;
}
#email5{
    color: red;
    font-size: 15px;
    font-weight: bold;

}
#pass{
    color: red;
    font-size: 15px;
    font-weight: bold;   
}
#zipcode1{
    color: red;
    font-size: 15px;
    font-weight: bold; 
} */ */
/* #id{
    display: none ;
} */

